Allow users to specify escape/quote/etc. characters

Some users need to be able to specify escape/quote/etc. characters to parse files that do not follow the default RFC4180 Section 2 profile. This is already possible for creating a writer, by using the CsvSchema version, but needs to be improved to also allow the writing utility method to be used. No support so far for setting the characters for parsing.